.sidebar-container{
  width: 100%;
  max-width: 252px;
  text-align: left;
  border-right: 1px solid var(--neutral-200);
}

.notes-nav{
  padding: 1rem 0 0;
  border-bottom: 1px solid var(--neutral-200);

  & div{
    margin-bottom: .8rem;
    display: flex;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;

    &:hover{
      background-color: var(--neutral-200);
    }

    & img{
      margin-right: .5rem;
    }
  }
}

.notes-nav-active{
  background-color: #f3f5f8;
  background-image: url('../../assets/images/icon-chevron-right.svg');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 12%;
}

.tags-container{
  padding: .5rem 0;

  & h2{
    color: var(--neutral-500);
  }
}

.tags-lists{
  height: 460px;
  overflow: auto;
  
  & li{
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin: .5rem 0;
    padding: 10px 12px;
    cursor: pointer;

    & img{
      margin-right: .5rem;
      width: 1.5rem;
    }

    &:hover{
      background-color: var(--neutral-200);
    }
  }
}