
.modalWrapper{
  position: absolute;
  background-color: rgba(25, 24, 24, 0.518);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer{
  background-color: white;
  max-width: 445px;
  width: 100%;
  padding: 1.5rem 1.2rem;
  border-radius: 1rem;
}

.modalHeader{
  display: flex;
  align-items: start;
  text-align: left;
  margin-bottom: 1.5rem;

  & img{
    margin-right: 1rem;
    padding: .5rem;
    border-radius: 8px;
    background-color: var(--neutral-100);
  }
}

.modalTitle{
  margin-bottom: .5rem;
}

.modalMsg{
  color: var(--neutral-800);
}

.modalBtnWrapper{
  display: flex;
  justify-content: end;
  gap: 1rem;

  & button{
    padding: .8rem 1rem;
    font-size: .8rem;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
  }
}

.cancelBtn{
  color: var(--neutral-700);
}

.deleteBtn{
  background-color: var(--red-500);
  color: var(--neutral-100);
}

.archiveBtn{
  background-color: var(--blue-500);
  color: var(--neutral-100);
}