.settings-view-wrapper{
  display: flex;
  width: 100%;
  height: 100%;
}

.settings-sidebar-wrapper{
  max-width: 258px;
  width: 100%;
  padding: 1.4rem 1rem;
  border-right: 1px solid var(--neutral-200);
  height: 100%;
}

.settings-list-container{
  max-height: 550px;
  overflow: auto;
  width: 100%;
}

.settings-item{
  text-align: left;
  padding: 1rem;
  cursor: pointer;

  &:hover{
    background-color: var(--neutral-200);
  }
}

.settings-options-wrapper{
  width: 100%;
  padding: 2rem;
}

.setting-header{
  width: auto;
  text-align: left;
  margin-bottom: 1rem;

  & h2{
    width: auto;
  }
}

.active-setting{
  background-color: var(--neutral-100);
  border-radius: 5px;
  background-color: #f3f5f8;
  background-image: url('../../assets/images/icon-chevron-right.svg');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 12%;
}

.options-list-container{
  max-width: 450px;
  width: 100%;
  text-align: left;
}

.option{
  margin-bottom: 1rem;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1rem;
  border-radius: 1rem;

  &:hover{
    background-color: var(--neutral-200);
  }
}

.active-option{
  background-color: var(--neutral-100);

  & .right-icon{
    border-color: var(--blue-500);
  }
}

.option-description {
  display: flex;

  & div{
    margin-left: 1rem;
  }
}

.right-icon{
  border: 4.5px solid;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  border-color: rgb(222, 222, 222);
}