.contentSidebarWrapper{
  /* max-width: 300px; */
  flex: 1;
  width: 100%;
  padding: 1.2rem 1rem;
  border-right: 1px solid var(--neutral-200);
}

.newNoteBtn{
  background-color: var(--blue-500);
  color: var(--neutral-50);
  border: none;
  width: 100%;
  padding: .8rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.contenSidebarInfo{
  margin-bottom: 1rem;
}

.notesListContainer{
  max-height: 550px;
  overflow: auto;
  width: 100%;
}

.noteItem{
  text-align: left;
  padding: .8rem 1rem;
  border-radius: 5px;
  border-bottom: 1px solid var(--neutral-200);
  cursor: pointer;
}

.noteItem:hover{
  background-color: var(--neutral-200);
}

.noteTitle{
  margin-bottom: .5rem;
}

.noteTags{
  display: flex;
  gap: .3rem;
  margin-bottom: .5rem;

  & li{
    background-color: var(--neutral-200);
    padding: .2rem .3rem;
    border-radius: 4px;
  }
}

.activeNote{
  background-color: var(--neutral-100);
}